.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.overlay-open {
  animation: bgchange 1s linear infinite;
  opacity: 1;
}
.overlay nav {
  text-align: center;
  position: relative;
  top: 45%;
  height: 60%;
  font-size: 80px;
}
.overlay ul {
  list-style: none;
}
#zivicount{
  text-align: center;
  color: white;
}

@keyframes bgchange {
  0%{
    background-color: #03a9f4;
  }
  50% {
    background-color: #65ff00;
  }
  100% {
    background-color: #03a9f4;
  }
}
