<div class='col-md-2' id='zivi0'>
  <div class='card mb-2 box-shadow'>
    <input type='hidden' id='inputId' value='0'>
    <button class='btn btn-lg btn-danger btn-block zividead'>Kill</button>
    <input type='text' id='inputName' class='form-control ziviedit' placeholder='Zivi name' required autofocus>
    <input type='text' id='inputSpanish' class='form-control ziviedit' placeholder='El pedro' readonly>
    <input type='text' id='inputImage' class='form-control ziviedit' placeholder='images/'>
    <input type='text' id='inputMexicanImage' class='form-control ziviedit' placeholder='images/'>
    <input type='date' id='inputDate' class='form-control ziviedit'>
    <button class='btn btn-lg btn-primary btn-block zivibutton'>Edit</button>
  </div>
</div>
